/.idea
/cockpit-ovirt.iml
/mailing
/samples
/tools.local

/notes.txt
/vdsm/transport/
/vdsm/vdsm
/vdsm/dist/
/Wiki

Makefile.in
.npm
dashboard/ovirt-dashboard
dashboard/src/routes/routes.js

config.*
*.spec
*.gz
aclocal.m4
configure
missing
*Makefile
autom4te.cache
install-sh
tmp.repos
*node_modules

