/.idea
/cockpit-ovirt.iml
/mailing
/samples
/tools.local

/notes.txt
/vdsm/transport/
/Wiki

/node_modules
/dist
Makefile.in
.npm

config.*
*.spec
*.gz
aclocal.m4
configure
missing
*Makefile
autom4te.cache
install-sh
tmp.repos
*node_modules
