#graphs {
    display: block;
}

#graphs svg {
    font-size: 10px;
}

#graphs ul {
    padding-top: 15px;
    margin-right: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .domain,
.axis .tick line {
    stroke: lightgrey;
    opacity: 0.5;
}

.tick text {
    fill: #545454;
    font-size: 12px;
}

path.line {
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

path.line.highlight {
    stroke-width: 4;
}

/* Page global stuff */

.curtains-ct {
    height: 100%;
    width: 100%;
    position: fixed;
}

.curtains-message {
    margin-left: 80px;
    margin-right: 90px;
}

.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

.ovirt-sidebar {
    width: 100px;
}

.ovirt-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90px;
    border-right: 1px solid #dadada;
    height: 100%;
    position: fixed;
    background-color: #fafafa;
    top: 0px;
}

.ovirt-sidebar ul li {
    border-bottom: 1px solid #dadada;
    display: block;
    font-size: 13px;
}

.ovirt-sidebar ul li a {
    border-bottom: 0;
    background-color: #fff;
    padding: 15px 10px;
    text-align: center;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.ovirt-sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.ovirt-sidebar ul li.active a:hover {
    background-color: #fff;
}

.ovirt-sidebar ul li a .fa {
    display: inline;
    font-size: 20px;
    color: #b3b3b3;
}

.ovirt-sidebar ul li.active a .fa {
    color: #0099d3;
}

.ovirt-sidebar ul li.active a:after {
    content: '';
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    background-color: #0099d3;
}

#content {
    margin-left: 110px;
    margin-right: 0px;
    min-height: 100%;
}

#content > .row {
    margin-right: 0px;
}

.combobox_option {
    width: 100%;
}

/* HACK: https://github.com/patternfly/patternfly/issues/75 */
.blank-slate-pf .fa {
    color: #999999;
}

.blank-slate-pf .spinner-lg {
    height: 58px;
    width: 58px;
}

.ovirt-input {
    margin: 0 auto;
}

.he-input {
    text-align: left;
}

.btn-spacer {
  margin-top: 10px;
}

.viewport {
  white-space: nowrap;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}

.container-center {
  margin-left: -100px;
}

.ovirt-content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    z-index: 900;
    top: 0;
}

.ovirt-content-header-extra .btn-group:not(:first-child) {
    padding-left: 20px;
}

.pad-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vcenter {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.modal-body .entry {
    word-wrap: break-word;
    white-space: normal;
}

.health-icon {
  float:right;
  position: relative;
  right: 107px;
}

.accordion {
  display: table;
  width: 100%;
}

.accordion-row {
  display: table-row;
  line-height: 30px;
}

.accordion-header {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  text-align: left;
  color: black;
  font-size: 1.1em;
}

.accordion-icon {
  display: inline-block;
  margin-right: 50px;
}

.accordion-row:hover,
.accordion-row.open {
  background-color: #ededed;
}

.accordion-toggle {
  display: table-cell;
  width: 30px;
}

.accordion-toggle i {
  width: 30px;
  font-size: 24px;
  visibility: hidden;
  margin-left: 10px;
  margin-top: 5px;
}

.accordion-row.open i,
.accordion-row:hover .accordion-toggle i{
    color: #65bedf;
    background-color: #ededed;
    visibility: visible;
}

.gdeploy-wizard-row {
    margin-left: 0px !important;
}

.gdeploy-wizard-delete-icon {
    vertical-align: middle;
    padding-left: 5px;
}

.gdeploy-wizard-table {
    margin: auto;
}

.gdeploy-wizard-table th{
    text-align: center;
}

.gdeploy-wizard-config-preview{
    width: 100%;
    height: 270px;
}

.gdeploy-wizard-host-ssh-info{
    margin-top:  30px;
}

.gdeploy-wizard-bricks-row td,
.gdeploy-wizard-bricks-row th{
    padding-left: 0px;
    padding-right: 0px;
}